/* Write your CSS here */
.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.delete-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  background: none;
  outline: none;
  border: 0px;
}
.img1 {
  width: 30px;
  height: 20px;
}
.head {
  font-family: 'Roboto';
}
